<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "tinymce/js/tinymce/tinymce.min.js" %}"></script>
        <script type="text/javascript" src="{% static "ielts_test_editor.js" %}"></script>
        <script>
            tinymce.init({
                selector: 'textarea'
            });
        </script>
        <link href="{% static "basic.css" %}" rel="stylesheet" />
    </head>
    <body>
        <div class="main">
            <div class="mainarea">
                <div class="navbar">
                    <li><a href="/quizzes">Quizzes</a></li>
                    <li><a href="/grades">Grades</a></li>
                    <li><a href="/questions">Questions</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/IELTS">IELTS</a></li>
                    <li><a href="/login">Log Out</a></li>
                </div>
            <div>
                <form method="POST" enctype="multipart/form-data">
                <b>Input test name:</b> <input type="text" name="testName">
                {% autoescape off %}
                <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div id="sections">
                    <!-- <div class="section">
                        <b>Name:</b> <input type="text">
                        <b>Type:</b>
                        <select name="section-type_0" onchange="changeAttachment(this, 'attachment_0')">
                            <option value="r"> Reading</option>
                            <option value="l"> Listening </option>
                        </select>
                        <br />
                        <br />
                        <div class="equalCols">
                            <div>
                            <textarea id="section_0" name="section_0" cols="50" rows="30"></textarea>
                            </div>
                            <div id="attachment_0">
                                <b>PDF Upload: </b><br />
                                <input type="file" name="pdf_upload_0" id="pdf_input_0" onchange="pdf_preview(this)">
                                </input>
                                <embed id="book_0" type="application/pdf" style="height: 400px; width: 100%;" controls>
                                </embed>
                                <br />
                                <br />
                            </div>
                        </div>
                        <button type="button" onclick="addSimpleQuestionForm(this, 0)">Add questions</button>
                    </div> -->
                    {% for test_section in test_sections %}
                    <div class="section" id="test_section_{{ test_section.0 }}">
                        {{ test_section.1 }}
                    </div>
                    {% endfor %}
                </div>
                {% endautoescape %}
                <br />
                <button type="button" onclick="addSection()">Add section</button>
                <!-- <button type="button" onclick="testAjaxPost('{{ csrf_token }}')">Test AJAX POST Request</button> -->
                <button>Save</button>
                </form>
            </div>
        </div>
    </body>
</html>