<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link href="{% static "basic.css" %}" rel="stylesheet" />
    </head>
    <body>
        <div class="main">
            <div class="mainarea">
                <div class="navbar">
                    <li><a href="/quizzes">Quizzes</a></li>
                    <li><a href="/grades">Grades</a></li>
                    <li><a href="/questions">Questions</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/IELTS">IELTS</a></li>
                    <li><a href="/login">Log Out</a></li>
                </div>
                <div>
                    <h1> Welcome to REALEC Testing Platform! </h1> <br />
                    REALEC Research group, 2018.
                </div>
            </div>
        </div>
    </body>
</html>